@import '../theme';

.link-list {
  float: left;
  width: 45%;
  min-width: 250px;
  margin: 0 10px 10px 0;
  padding: 8px;
  background-color: white;
  color: $primary-color;
  @include fancy-border;
}

.link-details {
  overflow: hidden;
  min-width: 300px;
  background-color:white;
  padding: 10px;
  color: $primary-color;
  @include fancy-border;
}

.link-details h1 {
  text-align: center;
}

.link-details span.title {
  display: block;
  text-align: center;
  font-size: 20pt;
  font-weight: bold;
}

.link-details input.title {
  font-size: 20pt;
  width: 100%;
}

.addLink input {
  width: 300px;
}

.error {
  color: red;
}

.row {
  position: relative;
  display: flex;
  align-items: center;
  margin: 5px 0 5px 0;
}

.row .delete {
  position: absolute;
  right: 0;
  visibility: hidden;
}

.row:hover .delete {
  visibility: visible;
}

.row .img-holder {
  display: flex;
  align-items: center;
  width: 100px;
  min-width: 100px;
  height: 100px;
  min-height: 100px;
  margin-right: 10px;
}

.row img {
  max-height: 100%;
  max-width: 100%;
}

.row .star-rating-input {
  width: 128px;
}

.videoContainer {
  margin: 0px;
}
