@import "compass";

html, body, #app {
  height: 100%;
}

body {
  background: lemonchiffon;
  color: darkolivegreen;
  margin: 0;
}

.main-container {
  display: table;
  border-collapse: collapse;
  height: 100%;
  width: 100%;
}

#navbar {
  clear: both;
  height:50px;
  width: 100%;
  background: lightgray;
  margin-bottom: 10px;
}

#navbar ul {
  display: inline-block;
  height: 100%;
  margin: 0;
}

#navbar li {
  display: inline-block;
  height: 100%;
  list-style-type: none;
  padding-right: 20px;
}

#navbar li a {
  display: inline-block;
  height: 100%;
  padding: 0 20px;
}

#navbar li a i {
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

#navbar li a span {
  display: inline-block;
  vertical-align: middle;
}

#navbar li .active {
  background-color: darkmagenta;
  color: white;
}

#footer {
  height: 50px;
  display : table-row;
  vertical-align : bottom;
  background: lightgray;
  margin-top: 10px;
}

#middle-area {
  padding: 0 0 70px 0;
  height: 100%;
}

#content {
  margin: 0 10px;
  height: 100%;
}

.radial-gradient {
  @include background-image(radial-gradient(45px 45px, goldenrod 10px, lemonchiffon 300px));
}
